html {
    scroll-behavior: smooth;
}

body {
    /* Dark text for contrast */
    font-family: 'Inter var', 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.animated-element {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.socials-icon {
    text-decoration: none;
}

:root {
    --cyberpunk-red: #ff003c;
    --neon-pink: #f72585;
    --neon-purple: #7209b7;
    --pink: #fecbe1;
}

body {
    background-color: #0a0a0a;
    /* Dark background for a cyberpunk theme */
    color: var(--cyberpunk-red);
}

a:hover,
.socials-icon:hover {
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink);
}

.animated-element {
    box-shadow: 0 0 15px var(--pink), 0 0 25px var(--pink);
    border-color: var(--pink);
}

/* Hero Section */
@media (min-width: 992px) {

    /* Assuming 'desktop view' starts at 992px */
    #hero .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    #hero h1 {
        flex: 1;
    }

    #hero p {
        flex: 1;
        text-align: right;
    }
}

#hero .vertical-divider {
    width: 2px;
    height: 60vh;
    background-image: linear-gradient(to bottom, transparent, #fff, transparent);
    transform: rotate(20deg);
    margin: auto;
}

@media (max-width: 991px) {
    #hero .vertical-divider {
        width: 60vw;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #fff, transparent);
        transform: rotate(0deg);
    }
}

/* Form Validation Styling */
.is-valid .form-control {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%2328a745\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M6.564.75c-.15-.14-.36-.14-.51 0L3 4.192 1.946 3.146a.515.515 0 1 0-.73.73l1.47 1.47a.515.515 0 0 0 .73 0L6.564 1.26a.515.515 0 0 0 0-.51z\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Glow Effects & Animations */
.glow {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.glow:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

/* CSS Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}