html {
    scroll-behavior: smooth;
}

body {
    /* Dark text for contrast */
    font-family: 'Inter var', 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.animated-element {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.socials-icon {
    text-decoration: none;
}

:root {
    --cyberpunk-red: #ff003c;
    --neon-pink: #f72585;
    --neon-purple: #7209b7;
    --pink: #fecbe1;
}

body {
    background-color: #0a0a0a;
    /* Dark background for a cyberpunk theme */
    color: var(--cyberpunk-red);
}

a:hover,
.socials-icon:hover {
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink);
}

.animated-element {
    /* box-shadow: 0 0 15px var(--pink), 0 0 25px var(--pink); */
    border-color: var(--pink);
}

/* Hero Section */
@media (min-width: 992px) {

    /* Assuming 'desktop view' starts at 992px */
    #hero .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    #hero h1 {
        flex: 1;
    }

    #hero p {
        flex: 1;
        text-align: right;
    }
}

#hero .vertical-divider {
    width: 2px;
    height: 60vh;
    background-image: linear-gradient(to bottom, transparent, #fff, transparent);
    transform: rotate(-50deg);
    margin: auto;
    width: 30%;
}

@media (max-width: 991px) {
    #hero .vertical-divider {
        width: 95%;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #fff, transparent);
        transform: rotate(0deg);
    }
}

.text-shadow {
    text-shadow: 1px 1px 2px #2b2b2b;
}

#hero h1 {
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.05em;
}

#hero h2 {
    font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    width: 100%;
}

@media only screen and (min-width: 991px) {
    #hero h2 {
        width: 50%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem !important;
    }
}

/* Form Validation Styling */
.is-valid .form-control {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%2328a745\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M6.564.75c-.15-.14-.36-.14-.51 0L3 4.192 1.946 3.146a.515.515 0 1 0-.73.73l1.47 1.47a.515.515 0 0 0 .73 0L6.564 1.26a.515.515 0 0 0 0-.51z\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Glow Effects & Animations */
.glow {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.glow:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

/* CSS Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Owl Carousel */
.owl-carousel .item .card {
    width: 100%;
    /* border-radius: 10px; */
    border: none;
    background: #000;
}

.owl-carousel .item .card img {
    border-radius: 6px;
    object-fit: contain;
}

i.fa-star {
    color: orangered;
}

.btn-group i {
    color: orangered;
}

.btn-group button:hover {
    background-color: orange;
}

.btn-group button:hover i.fa-solid {
    color: black;
}

.card-body h2 {
    font-size: 1.2em;
    text-transform: capitalize;
}

/* Indicators */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fcacce;
    width: 30px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: var(--pink);
    transition: all .2s ease;
}

/* Controls */
/* button element */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: relative;
    background-color: rgba(255, 166, 0, 0.3);
    width: 30px;
    padding: 5px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #fcacce;
}

.owl-carousel .owl-nav button.owl-next::before,
.owl-carousel .owl-nav button.owl-prev::before {
    width: 100%;
    height: 100%;
    color: var(--pink);
    /* inset: 0;
  position: absolute; */
}

.owl-carousel .owl-nav button.owl-next::before {
    content: '\f061';
    /*unicode for arrow-right*/
    font-family: 'Font Awesome 5 Free';
    /* Font family for Font Awesome */
    font-weight: 900;
    /* Font weight for the solid style (fas) */
    margin-right: 5px;
}

.owl-carousel .owl-nav button.owl-prev::before {
    content: '\f060';
    /*unicode for arrow-left*/
    font-family: 'Font Awesome 5 Free';
    /* Font family for Font Awesome */
    font-weight: 900;
    /* Font weight for the solid style (fas) */
    margin-right: 5px;
}

.owl-carousel .owl-nav .owl-next [aria-label="Next"],
.owl-carousel .owl-nav .owl-prev [aria-label="Previous"] {
    visibility: hidden
        /*The Span element*/
}

/* 3D Spinner */
.owl-carousel .item {
    text-align: center;
    padding: 2.5rem 3.125rem 1.25rem 3.125rem;
    margin-bottom: 5px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* For Smaller Screens */
@media only screen and (max-width: 599px) {
    .owl-carousel .item {
        padding: 1.25rem 1.5625rem 0.625rem 1.5625rem;
    }
}

.owl-carousel .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .item img {
    max-width: 100%;
    /* Set image max-width to 100% of the container width */
    height: auto;
    /* Adjust height automatically to maintain aspect ratio */
    object-fit: cover;
    /* Cover the area without losing aspect ratio */
}

#custom-cards {
    background-color: #111111;
}

/* Parallax Background */
.parallax-background {
    /* Optional styles for the parallax effect */
    perspective: 1px;
    perspective-origin: center;
    transform: translateZ(0);
    background-image: url('./assets/branding/IMG_0178\ \(W1080\ H1440\).jpg');
    /* Add your background image path */
    background-size: cover;
    /* Cover the entire area */
    background-repeat: no-repeat;
    /* Do not repeat the image */
}

/* Hide Mobile Whatsapp Link On Desktop */
@media screen and (min-width: 992px) {
    #wa-mobile {
        display: none;
    }
}

/* Hide Desktop Whatsapp Link On Mobile */
@media screen and (max-width: 991px) {
    #wa-desktop {
        display: none;
    }
}