html {
    scroll-behavior: smooth;
}

body {
    /* Dark text for contrast */
    font-family: 'Inter var', 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.animated-element {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.socials-icon {
    text-decoration: none;
}

:root {
    --cyberpunk-red: #ff003c;
    --neon-pink: #f72585;
    --neon-purple: #7209b7;
    --pink: #fecbe1;
}

body {
    background-color: #0a0a0a;
    /* Dark background for a cyberpunk theme */
    color: var(--cyberpunk-red);
}

a:hover,
.socials-icon:hover {
    color: var(--pink);
    text-shadow: 0 0 10px var(--pink), 0 0 20px var(--pink);
}

.animated-element {
    box-shadow: 0 0 15px var(--pink), 0 0 25px var(--pink);
    border-color: var(--pink);
}

@media (min-width: 992px) {

    /* Assuming 'desktop view' starts at 992px */
    #hero .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    #hero h1 {
        flex: 1;
    }

    #hero p {
        flex: 1;
        text-align: right;
    }
}

#hero .vertical-divider {
    width: 2px;
    height: 60vh;
    background-image: linear-gradient(to bottom, transparent, #fff, transparent);
    transform: rotate(20deg);
    margin: auto;
}

@media (max-width: 991px) {
    #hero .vertical-divider {
        width: 60vw;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #fff, transparent);
        transform: rotate(0deg);
    }
}